body {
    background-color: #007AFf ! important;
}

.container {
    min-height: 100vh;
    background-color: #007AFf ! important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 25rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quizAnswerCard :hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-success,
.bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.textCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newStartButton {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}